- slide_index = 3
.reveal
  .slides 
    %section
      %h3 
        %p Engineering 
        %p and
        %p QA Meetup
      %p Nov 8 2012

    %section
      %h3= link_to 'New Engineer', '/presentations/#/2'
      %h3= link_to 'Updates', '/presentations/#/3'
      %h3= link_to 'Devlinks', 'http://bit.ly/devlinks', :target => '_blank'

    %section
      %h3 Ilya Gulko
      %p Senior QA Engineer

    %section
      %h3 Updates
      - @engineers.each_with_index do |engineer, index|
        %p= link_to engineer.name, '/presentations/#/' + (slide_index+index+1).to_s()

    - @engineers.each_with_index do |engineer, engineer_id|
      - slide_number = slide_index + engineer_id + 1
      %section
        .project_list
          - engineer.projects.each_with_index do |project, index|
            %p= link_to project.title, '/presentations/#/' + slide_number.to_s() + '/' + index.to_s()
        - engineer.projects.each do |project|
          %section
            %h4= engineer.name
            %p.title= project.title.titleize
            %div.description= project.description.html_safe

    %section
      %h3= link_to 'Devlinks', 'http://bit.ly/devlinks', :target => '_blank'
      %p Any Update on Internal Devlinks Project?

